<html lang="en">
<head data-turbolinks-eval="false">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="icon" href="/static/img/favicon.png?v=MQq4VTue">
  <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <meta name="description" content="Decred DEX Client Web Portal">
  <title>{% block title %}Win Atoms!{% endblock %}</title>
  <link href="/static/style.css?v=0c2lC6c" rel="stylesheet">

</head>
<body>
<a href="/" class="header-logo"></a>
<div class="main">
  <div class="hr"></div>
  <div class="top-opts">
    <a href="/how" class="plainlink hoverbg">How It Works</a>
    <a href="/create" class="plainlink hoverbg">Create a Challenge</a>
    <a href="/offline" class="plainlink hoverbg">Play Offline</a>
    <a href="https://twitter.com/winatoms" class="plainlink hoverbg" target="_blank"><span class="ico-twitter fs16"></span> Follow Us</a>
  </div>
  <div class="hr"></div>
</div>

{% block body %}{% endblock %}

</body>
</html>